body {
    margin: 0%;
    padding: 0%;
    font-family: "Times New Roman", Times, serif;
}

.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
    background: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);
}

.nav-bar .navbar-brand img {
    height: 50px;
}

.navbar-brand {
    /* padding-left: 10px; */
    font-weight: bold;
    color: #fff !important;
}

.navbar-brand p {
    padding-left: 10px;
    text-decoration-line: overline underline;
    text-decoration-color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    display: inline;
}

/* .navbar-toggler
{
    outline: none !important;
} */

.nav-link {
    color: #fff !important;
}

.middle {
    color: #fff;
    /* text-align: center; */
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/top_horiz.jpg);
    background-size:cover;
    background-position: center;
}

.middle h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 6px;
    text-shadow: 0 0 30px rgba(0,0,0,0.5) ;
}
p
{
    font-weight: 600;
}
.search-box
{
    padding: 30px 0;
    margin: -50px 6% 50px;
    background: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);
}

.search-box .form-control
{
    max-width: 250px;
    display: inline-flex;
    margin: 10px 5px;
    border-radius: 0;
    box-shadow: none !important;
    border: none !important; 
}
.search-box .btn-primary
{
    /* width: 40%; */
    border-radius: 0;
    box-shadow: none !important;
    border: none !important;
    display: inline-flex;
    margin: 5px;
    padding: 5px 20px;
}
/* -------------------Top Recrutiers--------------------- */
.recruiters
{
   padding-top: 30px; 
   padding-bottom: 100px;
}
#recruiters h3{
    text-align: center;
    padding-bottom: 40px;
}
h3::before
{
    content: '';
    background: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);
    width: 50px;
    height:30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;
}
#recruiters img
{
max-width: 100px;
margin: 10px 20px;
}

/* ---------------------------Recent Updates------------------------- */

#jobs
{
    background: #f8f8f8;
    padding: 50px 0;
}
.company-details
{
    box-shadow: 0 2px 70px 0 rgba(110,130,208,.18);
    border-radius: 5px;
    margin-bottom: 20px;
}
.job-updates
{
    background: #fff;
    padding:10px 20px;
    border-radius: 5px;
}
.job-updates .fa
{
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;
}
.job-updates small
{
    background: #efefef;
    padding: 1px 5px;
    margin: 0px 5px;
}
.job-updates p
{
    margin-bottom: 0 !important;
}
.job-updates a
{
    text-decoration: none !important;
    color: #b6bed2;
    float: right;
}
.apply-btn
{
    height: 40px;
    background-image: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.apply-btn .btn-primary
{
    padding: 0 30px;
    float: right;
    border-radius: 0;
    box-shadow: none !important;
    background: transparent;
    border: 1px solid #fff;

}
.page-link li
{
  height: 25px;  
  width: 25px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
.page-link li:hover, .active
{
  color: red;  
  background-image: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);
}
.left-arrow
{
    color: #999;
}
.right-arrow
{
   color: #29b929; 
}
/*-- ---------------------Site stats------------------ -- */

#site-stats
{
    padding: 100px 0;
}
#site-stats h3
{
    margin-bottom: 30px;
}
.stats-box
{
   padding: 30px; 
   border-radius: 10px;
   margin: 20px 0;
   box-shadow:0 2px 40px 0 rgba(110,130,208, .18) ;
}
.stats-box .fa
{
 font-size: 30px;   
 margin-right: 10px;
 margin-bottom: 10px;
}

/* -----------------App Banner--------------- */

#app-banner
{
    background-image: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);
    padding: 50px 0;
}
#app-banner h1
{
    margin-top: 20px;
    color: #fff;
}
#app-banner img
{
    width: 150px;
    margin: 50px 0;
}

/* ------------------Footer-------------- */
#footer
{
    background: #f8f9fd;
    padding: 20px 10px 8px;
}
.footer-image
{
    margin: 30px 0;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(0, 208, 255), #5eab8d);


}
#footer p
{
    color: #333; 
}
#footer a img
{
  width: 50px;  
}
.fa-heart
{
    color: red;
}
hr
{
    background-color: #CCC;
}